{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="raw">
            <div style="display: flex; flex-direction: column">
                <img src="uploads/barcode/{{ barcode }}_barcode.png" alt="barcode"
                     style="width: 200px; height: 50px; margin: auto">
                <span style="color: blueviolet; margin: auto; display: block">{{ barcode }}</span>
            </div>
        </div>
    </div>

{% endblock %}
